<p>
  <%= I18n.t('spree.voice', count: review.feedback_reviews.count) %>.
  <span title="<%= pluralize(review.feedback_stars, 'star') %> <%= I18n.t('spree.out_of_5') %>">
  <%= render 'spree/reviews/stars', stars: review.feedback_stars %>
  </span> &nbsp;
</p>
